
<html> 
   <head> 
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
  
      <link rel="stylesheet" href="/static/styles.css">
      
      <title>Uploaded</title> 
   </head> 
   <body> 

      <h1>File uploaded successfully</h1> 
      <h2>File Name: {{saved_file_location}}</h2> 

      <a class="btn" href="/">Back</a>
      <hr/>

      <img id="pictureFromCamera" src="{{saved_file_location}}"/>
      
   </body> 
</html>